.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.frame{
  width: 80%;
  overflow: hidden;
  margin: auto;
  padding: 2em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.boundary{
  justify-content: center;
  text-align: center;
  margin-top: 3em;
}

.boundary-sorting{
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3em;
  transform: rotate(180deg);
}

.bar{
  display: inline-block;
  border: 1px solid green ;
}

.nav{
  padding: 1em;
  padding-top: 0.2em;
  /* box-shadow: rgba(149, 157, 165, 0.2) 10px 0px 24px; */
  text-align: center;
}
.nav select{
  width: 10em;
  height: 2em;
  margin-right: 2em;
}
.nav button{
  width: 8em;
  height: 2em;
  margin-right: 2em;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
